var radioToCate = function (radio) {
  var cate = ""
  if (['radio10', 'radio11', 'radio12', 'radio13', 'radio14', 'radio15', 'radio16', 'radio17', 'radio18','radio20', 'radio19','radio21','跳蚤市场','闲置'].indexOf(radio)!=-1){
      cate = "闲置"
  } else if (['短期兼职','求职','radio5','求职'].indexOf(radio)!=-1){
      cate = "求职"
  } else if (['求助咨询','radio43','radio7','求助'].indexOf(radio)!=-1){
      cate = "求助"
  } else if (['radio40','radio41','radio42','radio43','碎碎碎念','树洞'].indexOf(radio)!=-1){
      cate = "树洞"
  } else if (['radio1','rent','owner','租房信息','租房'].indexOf(radio)!=-1){
      cate = "租房"
  }
  return cate;
};
module.exports.radioToCate = radioToCate;